---
import Layout from '../layouts/Layout.astro';
---

<Layout title="เกี่ยวกับเรา">
	<main>
		<figure class="w-full mb-20">
			<img class="w-full" src="/assets/img/aboutBanner.png" alt="เกี่ยวกับเรา" />
		</figure>
		<div class="container">
			<h1 class="text-3xl font-semibold mb-5 text-center">
				เกี่ยวกับเรา
			</h1>
			<div class="flex flex-wrap mb-10">
				<div class="basis-full w-full md:basis-1/2 md:w-1/2">
					<img class="w-full" src="/assets/img/about1.png" alt="เกี่ยวกับเรา" />
				</div>
				<div class="basis-full w-full md:basis-1/2 md:w-1/2 p-5 text-lg">
					<p class="mb-5">
						บริษัท ที.วาย.ซี จำกัด ก่อตั้งขึ้นในปี พ.ศ. ๒๕๔๒ กว่าทศวรรษ เราได้นำพึงพอใจสู่ลูกค้าในหลายประเทศทั่วโลกด้วยคุณภาพที่ดีในราคาที่แข่งขันได้
					</p>
					<p>
						ทางเราเป็นผู้ผลิตยางโอริงสำเร็จรูปขนาดมาตรฐานสากล ซึ่งมีทั้งมาตรฐานของประเทศสหรัฐอเมริกา, ญี่ปุ่น และยุโรป 
						ทางเรารับผลิตยางขึ้นรูปทรงเฉพาะ ตามแบบต่างๆ
					</p>
				</div>
			</div>
			<div class="flex flex-wrap mb-20">
				<div class="basis-full w-full md:basis-1/2 md:w-1/2">
					<img class="w-full" src="/assets/img/about2.png" alt="เกี่ยวกับเรา" />
				</div>
				<div class="basis-full w-full md:basis-1/2 md:w-1/2 relative md:-top-40 md:-left-10">
					<img class="w-full" src="/assets/img/about3.png" alt="เกี่ยวกับเรา" />
				</div>
			</div>
		</div>
	</main>
</Layout>