---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/HomeSlider.jsx';
---

<Layout title="Home Page">
	<main>
		<!-- <Slider client:load /> -->
		<div class="products-banner" style="background-image: url('/assets/img/home-banner-1.png');">
			<div class="container relative">
				<div class="home-banner-content">
					<h2 class='title'>
					Seal in the quality with T.Y.C. Seal <br/>
					“มั่นใจ ไม่รั่วซึม ต้อง ที.วาย.ซี. ซีล”
					</h2>
					<div class="home-banner-row">
					<div class="icon">
						<svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.9393 31.0607C11.5251 31.6464 12.4749 31.6464 13.0607 31.0607L22.6066 21.5147C23.1924 20.9289 23.1924 19.9792 22.6066 19.3934C22.0208 18.8076 21.0711 18.8076 20.4853 19.3934L12 27.8787L3.51472 19.3934C2.92893 18.8076 1.97918 18.8076 1.3934 19.3934C0.807611 19.9792 0.807611 20.9289 1.3934 21.5147L10.9393 31.0607ZM10.5 -6.55671e-08L10.5 30L13.5 30L13.5 6.55671e-08L10.5 -6.55671e-08Z" fill="white"/>
						</svg>
					</div>
					<p class="text-lg">
						ผู้ผลิตและจำหน่ายยางขึ้นรูปตามแบบและยางโอริงขนาดต่างๆ
					</p>
					</div>
					<a href='#' class='btn-primary'>
					ติดต่อเรา
					</a>
				</div>
			</div>
        </div>
		<section class="bg-gray py-10 md:py-20">
			<div class="container">
				<div class="flex flex-wrap items-center gap-y-10">
					<div class="basis-full w-full md:basis-5/12 md:w-5/12 text-white md:pr-10">
						<h2 class="text-3xl font-semibold">
							บริการขึ้นรูปยางตามแม่พิมพ์
						</h2>
						<p>
							เรามีประสบการณ์มากกว่า 20 ปี และมีที่ปรึกษา เพื่อแนะนำตามความต้องการของลูกค้าและเหมาะสมกับการใช้งาน
						</p>
					</div>
					<div class="basis-full w-full md:basis-7/12 md:w-7/12">
						<div class="flex flex-wrap items-stretch justify-between gap-y-5">
							<div class="basis-full w-full md:basis-6/12">
								<img class="w-full mb-3" src="/assets/img/Rectangle-3.png" alt="" >    
								<p class="text-white">
									บริการขึ้นรูปผลิตภัณฑ์ยางต่างๆ
								</p>
							</div>
							<div class="basis-full w-full md:basis-6/12 relative md:-left-10 md:mt-[100px]">
								<img class="w-full mb-3" src="/assets/img/Rectangle-4.png" alt="" >    
								<p class="text-white">
									กล่องชุดโอริง (O-Ring Kit)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-dark py-10 md:py-20">
			<div class="container">
				<div class="video-thumbnail">
					<img class="w-full" src="/assets/img/videoThumbnail.png" alt="" />
					<div class="play-button">
						<img src="/assets/img/play.png" alt="" />
					</div>
				</div>
				<video class="hidden" id="video" controls poster="/assets/img/videoThumbnail.png">
					<source src="path/to/video.mp4" type="video/mp4">
					<source src="path/to/video.webm" type="video/webm">
					<source src="path/to/video.ogv" type="video/ogg">
				</video>
			</div>
		</section>
	</main>
</Layout>